
mobile/**/doc/api/
mobile/**/ios/Flutter/.last_build_id
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/.pub-cache/
mobile/.pub/
mobile/build/
mobile/*.lock
mobile/*.iml
mobile/android/.gradle/
mobile\.dart_tool
mobile\android\.gradle